<!-- Polymer component: theblackbox.io logo             -->
<!-- Component name: "tbb-logo"                         -->
<!-- Attribute size: side size in pixels                -->
<!-- Comments: Made with svg, square.                   -->
<link rel="import" href="../../vendor_components/polymer/polymer.html">
<polymer-element name="tbb-logo" attributes="size">
    <template>
        <style>
            svg {

            }
            rect {
                fill: black;
            }
            text {
                fill: grey;
            }
        </style>

        <svg width="{{size}}" height="{{size}}">
            <rect x="0" y="0" width="{{size}}" height="{{size}}"/>
            <text x="5" y="{{size - 2}}">.io</text>
        </svg>
    </template>
    <script>
        Polymer({
            size: 32 // default size value inpixels
        });
    </script>
</polymer-element>