
<link rel="import" href="../../vendor_components/polymer/polymer.html">
<script src="../../vendor_components/prismjs/prism.js"></script>
<script src="../../vendor_components/he/he.js"></script>
<script src="assets/line-numbers.js"></script>
<script src="assets/line-highlight.js"></script>

<polymer-element name="tbb-codebox" attributes="language linenumbers escape linehighlight theme inputValue">
    <template>
        <link rel="stylesheet" href="assets/prism-tbb.css"/>
        <link rel="stylesheet" href="assets/line-highlight.css"/>
        <link rel="stylesheet" href="assets/line-numbers.css"/>
        <style>
            :host {
                display: block;
            }
        </style>
        <pre class="{{ linenumbers? 'line-numbers': '' }}" data-line="{{ linehighlight }}"><code id="codeviewer" class="language-{{language}}"></code></pre>
    </template>
    <script>
        (function() {
            Polymer('tbb-codebox', {
                language: '*',
                escape: false,
                linehighlight: '',
                inputValue: '',
                attached: function () {
                    this.highlight();
                },
                highlight: function () {
                    if (this.inputValue.length > 0) {
                        this.innerHTML = this.inputValue;
                    }

                    if (this.escape) {
                        this.innerHTML = he.encode(this.innerHTML);
                    }

                    this.$.codeviewer.innerHTML = this.innerHTML;
                    Prism.highlightElement(this.$.codeviewer);

                },
                inputValueChanged: function () {
                    this.highlight();
                }
            });
        })();
    </script>
</polymer-element>
