@import "variables";

.console {
  height: 60%;
  display: block;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 50px;

  z-index: -1;
  overflow-y: scroll;
  section {
    p {
      &.consoleInput {
        &:before {
          content: '$\0000a0';
        }
      }
    }

  }

  label {
    display: block;
    width: 100%;
    input {
      border: none;
      width: 90%;
      background: @backgroundColor;
    }
  }
}