<link rel="import"
      href="../../vendor_components/polymer/polymer.html">
<link rel="import"
      href="../../vendor_components/core-toolbar/core-toolbar.html">
<link rel="import"
      href="../../vendor_components/paper-tabs/paper-tabs.html">
<link rel="import"
      href="../../vendor_components/paper-tabs/paper-tab.html">
<link rel="import" href="../tbb-logo/tbb-logo.html">
<polymer-element name="tbb-toolbar" attributes="linkType">
    <template>
        <style>
            core-toolbar {
                z-index: 10000;
                background: #2a2928;
                color: #dddddd;
                position: fixed;
                width: 100%;
                box-shadow: 0 0 10px 15px rgba(0,0,0,0.32);
            }
            #tabs {
                width: 100%;
                margin: 0;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                text-transform: uppercase;
            }
            paper-tabs paper-tab::shadow #ink {
                color: #7a767c;
            }
            paper-tabs::shadow #selectionBar {
                background-color: #cbc7cd;
            }

            a,
            a:hover,
            a:active,
            a:focus,
            a:visited {
                color: #dddddd;
                text-decoration: none;
            }
        </style>

        <core-toolbar>
            <paper-tabs id="tabs" selected="0" link>
                <paper-tab name="tbb">
                    <a href="{{homeHref}}" horizontal center-center layout><tbb-logo></tbb-logo></a>
                </paper-tab>
                <paper-tab name="services" >
                    <a href="{{servicesHref}}" horizontal center-center layout>Services</a>
                </paper-tab>
                <paper-tab name="work">
                    <a href="{{workHref}}" horizontal center-center layout>Work</a>
                </paper-tab>
                <paper-tab name="blog">
                    <a href="{{blogHref}}" horizontal center-center layout>Blog</a>
                </paper-tab>
                <paper-tab name="about">
                    <a href="{{aboutHref}}" horizontal center-center layout>About</a>
                </paper-tab>
            </paper-tabs>
        </core-toolbar>
    </template>
    <script>
        Polymer({
            linkType: "pageSection", // [ "pageSection" | "link" ]
            get homeHref() {
                switch (this.linkType) {
                    case "pageSection":
                        return "#";
                    case "link":
                        return window.location.host + "/";
                }
            },
            get servicesHref() {
                switch (this.linkType) {
                    case "pageSection":
                        return "#services";
                    case "link":
                        return window.location.host + "/services";
                }
            },
            get workHref() {
                switch (this.linkType) {
                    case "pageSection":
                        return "#work";
                    case "link":
                        return window.location.host + "/works";
                }
            },
            get blogHref() {
                switch (this.linkType) {
                    case "pageSection":
                        return "#blog";
                    case "link":
                        return window.location.host + "/blog";
                }
            },
            get aboutHref() {
                switch (this.linkType) {
                    case "pageSection":
                        return "#about";
                    case "link":
                        return window.location.host + "/about";
                }
            }
        });
    </script>
</polymer-element>