<link rel="import"
      href="../../vendor_components/polymer/polymer.html">
<link rel="import"
      href="../tbb-cardbox/tbb-cardbox.html">
<script src="../../vendor_components/web-animations-js/web-animations-next.dev.js"></script>
<polymer-element name="tbb-cardbox-animated" extends="tbb-cardbox">
    <template>
        <style>
            .details {
                position: fixed;
                z-index: 100;
                top: 12%;
                width: 88%;
                height: 75%;
                background-color: #2a2928;
                margin: auto;
                box-shadow: 0 2px 15px 20px rgba(0, 0, 0, 0.32);
                left:-100%;
            }
            .details > * {
                display: inline-block;
            }
            .details-left {
                min-width: 200px;
                width: 33%;
            }
            .details-right {
                min-width: 200px;
                width: 66%;
            }
        </style>

        <shadow on-tap="{{ showDetails }}"></shadow>
        <div class="details" on-tap="{{ hideDetails }}">
            <div class="details-left">
                <content select="section.details-left"></content>
            </div>
            <div class="details-right">
                <content select="section.details-right"></content>
            </div>
        </div>

    </template>

    <script>
        (function() {
            var keys = [37, 38, 39, 40];

            var preventDefault = function(e) {
                e = e || window.event;
                if (e.preventDefault)
                    e.preventDefault();
                e.returnValue = false;
            };

            var keydown = function(e) {
                for (var i = keys.length; i--;) {
                    if (e.keyCode === keys[i]) {
                        preventDefault(e);
                        return;
                    }
                }
            };

            var wheel = function(e) {
                preventDefault(e);
            };

            var disableScroll = function() {
                if (window.addEventListener) {
                    window.addEventListener('DOMMouseScroll', wheel, false);
                }
                window.onmousewheel = document.onmousewheel = wheel;
                document.onkeydown = keydown;
            };

            function enableScroll() {
                if (window.removeEventListener) {
                    window.removeEventListener('DOMMouseScroll', wheel, false);
                }
                window.onmousewheel = document.onmousewheel = document.onkeydown = null;
            };
            Polymer('tbb-cardbox-animated', {
                riseonhover : true,
                showDetails : function(e) {
                    console.log(e);
                    var details = this.shadowRoot.querySelectorAll('.details')[0];
                    details.style.left = "0";
                    var animation = new Animation(details,[{left:"-100%"}, {left: '0'}], 500);
                    document.timeline.play(animation);
                    disableScroll();
                },
                hideDetails : function(e) {
                    console.log(e);
                    var details = this.shadowRoot.querySelectorAll('.details')[0];
                    details.style.left = "-100%";
                    var animation = new Animation(details,[ {left: '0'}, {left: '-100%'}], 500);
                    document.timeline.play(animation);
                    enableScroll();
                }
            });
        })();
    </script>
</polymer-element>